body {

}


.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr 2fr);
    height: 300px;
    background-color: cadetblue;
}

.item {
    border: 1px solid rgb(201, 70, 92);
}