body {

}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
   
    background-color: cadetblue;
}

.item {
    border: 1px solid rgb(201, 70, 92);
}