body {

}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    background-color: rgb(0, 0, 0);
}

.item-1 {
    grid-column: 3 / 4 ;
    grid-row: 3 / 4;
    background-color:rgb(192, 43, 68);
}

.item-2 {
    background-color: rgb(201, 70, 92);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    z-index: 10;
}

.item-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-color:  rgb(204, 98, 116);
}

.item-4 {
    background-color:  rgb(185, 126, 136);
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    
}