*{ 
    box-sizing: border-box;
}

body { 
    font-family: sans-serif;
    background-color: black;
    color: aliceblue;
}

.container { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow:row ;
    /* grid-auto-flow:column ; */

    direction: ltr;

        gap: 6PX;

    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 24px;
    background-color: cornflowerblue;
}

.item {
    text-align: center;
    background-color: crimson;
  
}


